In [1]:
import numpy as np
import pandas as pd

# DateTime Operation
- It is very important operation for time series analysis

# create or change type to datetime
- .to_datetime()

In [3]:
data={
    'Date' :['2023-01-01','2023-01-02','2023-01-03','2023-01-04'],
    'Sales' : [40000,35000,50000,55000]
}
df=pd.DataFrame(data)
df

         Date  Sales
0  2023-01-01  40000
1  2023-01-02  35000
2  2023-01-03  50000
3  2023-01-04  55000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    4 non-null      object
 1   Sales   4 non-null      int64
dtypes: int64(1), object(1)
memory usage: 196.0+ bytes

In [5]:
df['date']=pd.to_datetime(df.Date)

In [6]:
df

         Date  Sales       date
0  2023-01-01  40000 2023-01-01
1  2023-01-02  35000 2023-01-02
2  2023-01-03  50000 2023-01-03
3  2023-01-04  55000 2023-01-04

In [10]:
# date_range(start,end,freq=)
new_date=pd.date_range('2023-01-01','2024-01-01',freq='ME')
new_date

DatetimeIndex(['2023-01-31', '2023-02-28', '2023-03-31', '2023-04-30',
               '2023-05-31', '2023-06-30', '2023-07-31', '2023-08-31',
               '2023-09-30', '2023-10-31', '2023-11-30', '2023-12-31'],
              dtype='datetime64[ns]', freq='ME')

         Date  Sales       date
0  2023-01-01  40000 2023-01-01
1  2023-01-02  35000 2023-01-02
2  2023-01-03  50000 2023-01-03
3  2023-01-04  55000 2023-01-04

# Extracting Date/Time components
- .dt accessor

In [14]:
print("Year",df.date.dt.year)

Year 0    2023
1    2023
2    2023
3    2023
Name: date, dtype: int32

In [15]:
df['Year']=df.date.dt.year

In [16]:
df['month']=df.date.dt.month

In [17]:
df['day']=df.date.dt.day

In [18]:
df['hour']=df.date.dt.hour

In [19]:
df

         Date  Sales       date  Year  month  day  hour
0  2023-01-01  40000 2023-01-01  2023      1    1     0
1  2023-01-02  35000 2023-01-02  2023      1    2     0
2  2023-01-03  50000 2023-01-03  2023      1    3     0
3  2023-01-04  55000 2023-01-04  2023      1    4     0

In [22]:
df.date.dt.weekday

0    6
1    0
2    1
3    2
Name: date, dtype: int32

In [23]:
df.date.dt.month_name()

0    January
1    January
2    January
3    January
Name: date, dtype: object

In [24]:
ipl=pd.read_csv('IPL Matches 2008-2020.csv')
ipl

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,1216547,Dubai,2020-09-28,AB de Villiers,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore,tie,NaN,Y,NaN,Nitin Menon,PR Reiffel
812,1237177,Dubai,2020-11-05,JJ Bumrah,Dubai International Cricket Stadium,0,Mumbai Indians,Delhi Capitals,Delhi Capitals,field,Mumbai Indians,runs,57.0,N,NaN,CB Gaffaney,Nitin Menon
813,1237178,Abu Dhabi,2020-11-06,KS Williamson,Sheikh Zayed Stadium,0,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,6.0,N,NaN,PR Reiffel,S Ravi
814,1237180,Abu Dhabi,2020-11-08,MP Stoinis,Sheikh Zayed Stadium,0,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals,bat,Delhi Capitals,runs,17.0,N,NaN,PR Reiffel,S Ravi
815,1237181,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon

In [28]:
ipl.date=pd.to_datetime(ipl.date)

In [29]:
ipl.date

0     2008-04-18
1     2008-04-19
2     2008-04-19
3     2008-04-20
4     2008-04-20
         ...
811   2020-09-28
812   2020-11-05
813   2020-11-06
814   2020-11-08
815   2020-11-10
Name: date, Length: 816, dtype: datetime64[ns]

In [30]:
ipl.date.dt.year.value_counts()

date
2013    76
2012    74
2011    73
2014    60
2010    60
2020    60
2019    60
2016    60
2018    60
2015    59
2017    59
2008    58
2009    57
Name: count, dtype: int64

In [33]:
ipl.date.dt.month.value_counts()

date
4     364
5     349
3      41
10     40
9      12
11      8
6       2
Name: count, dtype: int64